<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  user-scalable=no" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/MyStyles.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/ckeditor5/ckeditor.js"></script>
    @RenderSection("Scripts", required: false)
    <link rel="shortcut icon" href="~/icon.png" type="image/png">
</head>
<body style="background-color:brown">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-auto" style="flex-grow:2; margin-top:10px;">
                    <a class="header-text" id="header-text" href="/allPosts"><img src="~/icon.png" style="width:35px; white-space:nowrap" /> @ViewData["Title"] - ТУпа Кантент</a>
                </div>
                <div class="col-md-auto" style="flex-grow:1; margin-top:10px;">
                    <form class="search-form" action="/search" method="get" id="search-form">
                        <input type="search" style="border-radius:5px; outline:none" onsearch="ClearSearchResult()" required name="title" placeholder="Поиск" id="search-input">
                        <input type="submit" style="display:none" />
                    </form>
                    <div class="search-result-block" id="search-result"></div>
                        @if (!User.Identity.IsAuthenticated)
                        {

                            <input class="btn-light btn-sm back" style="float:right;" type="button" value="Вход" onClick='location.href="/login"'>
                        }
                        else
                        {
                            <input class="btn-light btn-sm back" style="float:right;" type="button" value="Выход" onClick='location.href="/logout"'>
                        }
                </div>
                <script>
                    $('#search-input').keyup(function () {
                        if ($('#search-input').val() == '') {
                            ClearSearchResult();
                        }
                        else {
                            var block = document.getElementById('search-result');
                            block.style.border = 'outset';
                            $('#search-result').load('/searchPartial/' + $('#search-input').val());
                        }
                    });

                    function ClearSearchResult() {
                        var block = document.getElementById('search-result');
                        block.style.border = '';
                        $("#search-result").empty();
                    }

                    $('html').click(function () {
                        ClearSearchResult();
                    });
                </script>
            </div>
        </div>
    </header>
    <div class="container" id="mainContainer" style="background-color:white; border-radius:10px; padding:25px;">
        <main role="main" id="main">
            @RenderBody()
        </main>
    </div>
    <footer class="footer">
        <div class="footer-text">
            &copy; 2020 - Новостной портал
        </div>
    </footer>
</body>
</html>