@model MySite.Models.Post

@{
    ViewData["Title"] = "HoT News";
}

    <h2>Изменить новость</h2>
    <hr />

    @using (Html.BeginForm("EditPost", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="hidden" value="@Model.Id" name="Id" />
        <div>
            <h3>Title</h3>
            <p id="Title" name="Title"><input class="title-input" name="Title" value="@Model.Title" /></p>
        </div>
        <div>
            <h3>Time</h3>
            <p name="Date"><input name="Date" value="@Model.Date" /></p>
        </div>
        <div class="sm-margin-bot">
            <h3>Text</h3>
            <textarea id="Text" name="Text">@Model.Text</textarea>
        </div>
        <div class="sm-margin-bot">
            <h3>Image</h3>
            <div>
                @if (Model.Image != null)
                {
                    <img class="img-small" src="data:image/jpg;base64,@Convert.ToBase64String(Model.Image)" />
                }
                else
                {
                    <img class="img-small" src="data:image/jpg;base64," />
                }
            </div>
            <input name="uploadImage" type="file" />
        </div>
        <div class="btn-group-sm">
            <input class="btn btn-danger" type="submit" value="Сохранить" />
            <input class="btn btn-danger" type="button" value="Назад" onClick='location.href="/allPosts"'>
        </div>
    }


<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        ClassicEditor.create(document.querySelector('#Text'));
    });
</script>